<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Actividad2_tema_4.Properties.Settings.ConnectionString"
            connectionString="Dsn=motorrr" providerName="System.Data.Odbc" />
        <add name="Actividad2_tema_4.Properties.Settings.ConnectionString1"
            connectionString="Dsn=tiendapc" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>